* {
	margin: 0px;
}

#pageContainer {
	height: 100vh;
	z-index: 0;
	background-color: rgb(50,50,50);
}

#gameContainer {
	width: 100%;
	height: 100%;
	z-index: 1;
}

#choiceContainer {
	margin: 0 auto;
	padding-top: 1.5%;
	color: rgb(250,250,250);
	height: 90vh;
	width: auto;
}

.choiceRow {
	height: 33%;
	text-align: center;
}

.gameChoice {
	height: 90%;
	width: 90%;
	border-radius: 5px;
	padding: 4%;
	background-color: rgb(60,60,60);
}

.choiceOverlay {
	margin-left: 2px;
	margin-right: 2px;
	z-index: 4;
	height: 96%;
	width: 30%;
	display: inline-block;
	text-align: center;
}

.blurred {
	-webkit-filter: blur(8px);
}

.choiceImage {
	height: 70%;
	width: auto;
	margin: 2%;
}

.songInformationContainer {
	height: 100%;
	overflow: hidden;
}

.songInformationContainer p {
	font-family: sans-serif;
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#screenOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#screenOverlay div {
	height: 40%;
}

#screenOverlay #startContainer {
	height: 20%;
	text-align: center;
}

#screenOverlay #betweenRoundsContainer {
	height: 20%;
	text-align: center;
}

#gameHeader {
	margin: 0;
	height: 5vh;
	text-align: center;
}