* {
	margin: 0px;
	font-family: Arial;
}

#pageContainer {
	height: 100vh;
	z-index: 0;
}

#gameContainer {
	width: 100%;
	height: 100%;
	z-index: 1;
}

#choiceContainer {
	margin: 0 auto;
	height: 90vh;
	width: 90%;
	color: rgb(0,0,0);
}

.choiceRow {
	height: 33%;
	text-align: center;
}

.gameChoice {
	height: 85%;
	width: 85%;
	border-radius: 0px;
	padding: 4%;
	background-color: rgb(240,240,240);
	font-size: 10px;
}

.choiceOverlay {
	margin-left: 2px;
	margin-right: 2px;
	z-index: 4;
	height: 96%;
	width: 30%;
	display: inline-block;
	text-align: center;
}

.blurred {
	-webkit-filter: blur(8px);
}

.choiceImage {
	height: 70%;
	width: auto;
	margin: 2%;
}

.songInformationContainer {
	height: 100%;
	overflow: hidden;
}

.songInformationContainer p {
	font-family: sans-serif;
    font-size: 150%;
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#screenOverlay {
	position: absolute;
	width: 100%;
	height: 95vh;
	z-index: 10;
    background-color: rgba(0, 0, 0, .90);
    color: rgb(255,255,255);
}

#screenOverlay button {
    height: 60%;
    width: 20%;
    border-radius: 10px;
	border-color: rgb(50, 50, 60);
    font-size: 150%;
    background-color: rgb(50, 50, 60);
    color: rgb(255, 255, 255);
    padding: 0px;
}

#continueButton {
	margin-top: 10%;
}

.overlayContainer {
    margin-top: 35vh;
	height: 20%;
	text-align: center;
}

#gameHeader {
	margin: 0;
	height: 5vh;
	text-align: center;
	color: #FFFFFF;
	background-color: #000000;
}

#gameFooter {
	margin: 0;
	height: 5vh;
	background-color: black;
	color: rgb(255, 255, 255);
	text-align: center;
}

#gameFooter a {
	color: rgb(255, 255, 255);
}

.guessRow div {
	display: inline;
}

